body{
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
}

p{
  font-family: 'Lexend Deca', sans-serif;
}

h1{
  font-family: 'Big Shoulders Display', cursive;
  color:hsl(0, 0%, 95%);
}

button{
  background: hsl(0, 0%, 95%);
  position: absolute;
  display: inline-block;
  bottom: 0;
  /* top: 120px; */
  /* margin-top: 120px; */
  width: 120px;
  height: 40px;
  border-radius: 50px;
  border: none;
  box-shadow: 5px 10px 18px #888888:
}

span{
  font-family: 'Lexend Deca', sans-serif;
}

.container{
  /* width: 75%; */
  height: 400px;
  margin: 15% auto;
  margin-left: 150px;
  margin-right: 150px;
  /* position: absolute;
  top: 50%;
  margin-top: -590px; */

}

.col{
  height: 400px;
  width: 33.333333333333%;
  float: left;
  position: relative;
}

.col1{
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
  padding: 40px;
  min-height: 400px;
}
.col2{
  background: hsl(184, 100%, 22%);
  padding: 40px;
  min-height: 400px;
}
.col3{
  background: hsl(179, 100%, 13%);
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  padding: 40px;
  min-height: 400px;
}

@media screen and (max-width: 900px){
  .col{
    float: none;
    display: block;
    width: 400px;
    /* height: 480px; */
  }
  .col1, .col2, .col3{
    width: 400px;
    border-radius: 0;
  }
  .col1{
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
  }
  .col3{
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
  }
  .container{
    width: 400px;
    height: 100%;
    margin: 15% auto;
    margin-left: 150px;
    margin-right: 150px;
    /* position: absolute;
    top: 50%;
    margin-top: -590px; */

  }

  button{
    margin-bottom: 40px;
  }

}
