body{
  max-width: 1440px;
  min-height: 937px;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
}

p{
  font-family: 'Lexend Deca', sans-serif;
}

h1{
  font-family: 'Big Shoulders Display', cursive;
  color:hsl(0, 0%, 95%);
}

button{
  background: hsl(0, 0%, 95%);
  position: relative;
  display: inline-block;
  top: 120px;
  width: 70%;
  height: 40px;
  border-radius: 50px;
  border: none;
  box-shadow: 5px 10px 18px #888888:
  font-family: 'Lexend Deca', sans-serif;
}

.container{
  width: 75%;
  height: 400px;
  margin: auto;
}

.col{
  height: 100%;
  width: 24%;
  float: left;
  padding: 40px;
}

.col1{
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;

}
.col2{
  background: hsl(184, 100%, 22%);
}
.col3{
  background: hsl(179, 100%, 13%);
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}
